<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>eVakcinacija</title>
</head>
<body>
<div th:fragment="centralDiv">
    <link rel="stylesheet" th:href="@{css/index.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="webjars/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>



    <div class="container login-container">
        <div class="row">
            <div class="login-form-1">
                <h1 th:text="#{eVakcinacija.title}"></h1>
                <h3 th:text="#{eVakcinacija.caption}"></h3>
                <form method="post" action="korisnici/login">
                    <input type="text" id="login" class="form-control fadeIn second" name="email" th:placeholder="#{eVakcinacija.email}" required>
                    <input type="password" id="password" class="form-control fadeIn third" name="password" th:placeholder="#{eVakcinacija.password}" required>
                    <input type="submit" class="form-control btnSubmit fadeIn fourth" th:value="#{eVakcinacija.login}">
                </form>
                <a href="korisnici/registracija" th:text="#{eVakcinacija.register}"></a>

            </div>
        </div>
    </div>


</div>
</body>
</html>