<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>eVakcinacija</title>
</head>
<body>
<div>
    <form method="get">
        <table class="tabela">
            <caption>
                Informacije o vakcini
            </caption>
            <thead>
            <tr>
                <th>Naziv</th>
                <th>Kolicina</th>
                <th>Drzava proizvodnje</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="vakcina : ${vakcina}">
                <tr>
                    <td th:text="${'Naziv : ' + vakcina.naziv}"></td>
                    <td th:text="${'Kolicina : ' + vakcina.kolicina}"></td>
                    <td th:text="${'Drzava proizvodnje : ' + vakcina.drzavaProizvodnje}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </form>

    <div th:each="vakcina : ${vakcina}" th:remove="tag">
        <form
                method="post"


        >

            <table class="forma">
                <caption>
                    Izmena podataka
                </caption>
                <tr>
                    <th>Naziv:</th>
                    <td>
                        <input type="text" th:value="${vakcina.naziv}" name="naziv"/>
                    </td>
                    <th>Drzava proizvodnje:</th>
                    <td>
                        <input type="text" th:value="${vakcina.drzavaProizvodnje}" name="drzavaProizvodnje"/>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="Izmeni"/></td>
                </tr>
            </table>
        </form>

    </div>
</div>
</body>
</html>