<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Vakcine</title>
    <style>
        table {
          border-spacing: 0;
          width: 100%;
          border: 1px solid #ddd;
        }

        th {
          cursor: pointer;
        }

        th, td {
          text-align: left;
          padding: 16px;
        }

        tr:nth-child(even) {
          background-color: #f2f2f2
        }
        #myNaziv,#myProizvodjac,#myDrzava, #myKolicina  {
          background-image: url('/css/searchicon.png');
          background-position: 10px 10px;
          background-repeat: no-repeat;
          width: 100%;
          height: 10px;
          font-size: 16px;
          padding: 12px 20px 12px 40px;
          border: 1px solid #ddd;
          margin-bottom: 12px;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="title navbar-brand" href="/">eVakcinacija</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item nav-link">
                <a class="nav-link" href="../korisnici/korisnik">Moj profil</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" href="../vest/create" th:if="${session.loggedUser != null and loggedUser.isAdmin()}">Kreirajte novu vest</a>
            </li>
            <li class="nav-item nav-link">
                <a class="nav-link" href="../korisnici/logout">Odjavi se</a>
            </li>
        </ul>
    </div>
</nav>
<br>

<h2>Prikaz vakcina</h2>

<input type="text" id="myNaziv" onkeyup="myFunction()" style="width:50%;" placeholder="Pretrazi po nazivu.." title="Ukucaj naziv">
<input type="text" id="myProizvodjac" onkeyup="searchProizvodjac()" style="width:50%;" placeholder="Pretrazi po proizvodjacu.." title="Ukucaj proizvodjaca">
<input type="text" id="myDrzava" onkeyup="searchDrzava()" style="width:50%;" placeholder="Pretrazi po drzavi proizvodnje.." title="Ukucaj drzavu proizvodnje">
<input type="text" id="myKolicina" onkeyup="searchKolicina()" style="width:50%;" placeholder="Pretrazi po kolicini.." title="Ukucaj kolicinu">

<h3>Za sortiranje kliknuti na naziv kolone</h3>

<table id="myTable">
    <thead>
        <tr>
            <!--When a header is clicked, run the sortTable function, with a parameter, 0 for sorting by names, 1 for sorting by country:-->
            <th onclick="sortTable(0)">Naziv</th>
            <th onclick="sortTable(1)">Proizvodjac</th>
            <th onclick="sortTable(2)">Drzava proizvodnje</th>
            <th onclick="sortTable(3)">Kolicina</th>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="vakcina : ${vakcinas}">
            <tr>
                <td><a  href="th:text=${vakcina.naziv}"></a></td>
                <td th:text="${vakcina.proizvodjacVakcine}">...</td>
                <td th:text="${vakcina.drzavaProizvodnje}">...</td>
                <td th:text="${vakcina.kolicina}">...</td>
            </tr>
        </th:block>
    </tbody>
</table>

<a  href="../korisnici/login">Prijavite se</a>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myNaziv");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<script>
function searchProizvodjac() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myProizvodjac");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc";
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
</body>
</html>
