<!DOCTYPE html>
<html lang="en" th:replace="~{::centralDiv}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>eVakcinacija</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>Naziv</th>
            <th>Sadrzaj</th>
            <th>Vreme objavljivanja</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="vest : ${vests}">
            <tr>
                <td th:text="${vest.naziv}">...</td>
                <td th:text="${vest.sadrzaj}">...</td>
                <td th:text="${vest.vremeObjavljivanja}">...</td>
            </tr>
        </th:block>
        </tbody>
    </table>


    <a  th:if="${session.loggedUser != null and loggedUser.isAdmin()}" href="/vest/create">Kreirajte novu vest</a>
</body>
</html>